In [1]:
# import modules
import os
import pandas as pd

In [2]:
cityData = pd.read_csv('cities_weather.csv')
cityData.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,karaul,70.4692,-68.5914,37.63,100.0,100.0,6.91,CA,1.658972e+09
1,cagayan de tawi-tawi,22.0752,-159.3190,85.98,64.0,40.0,16.11,US,1.658971e+09
2,clyde river,60.6745,17.1417,49.37,74.0,11.0,1.01,SE,1.658971e+09
3,kapaa,-46.1927,168.8643,47.48,99.0,100.0,3.02,NZ,1.658972e+09
4,gavle,4.9333,-52.3333,76.08,1.0,0.0,0.00,GF,1.658971e+09

In [3]:
cityData.to_html('tableData.html', index=False, classes=['table', 'table-striped', 'table-hover'])